#snackbar{
    position: fixed;
    left: 50%;
    bottom:5%;
    transform: translate(-50%,-50%);
    padding: 25px;
    height: 40px;
    min-width: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color:#fff;
    font-size: 1.25rem;
    visibility: hidden;
}

#snackbar.show{
    visibility: visible;
    animation: fadein 500ms , fadeout 500ms 2500ms;
}

@keyframes fadein{
    from{
        bottom: 0;
        opacity: 0;
    }
    to{
        bottom: 5%;
        opacity: 1;
    }
}

@keyframes fadeout{
    from{
        bottom: 5%;
        opacity: 1;
    }
    to{
        bottom: 0;
        opacity: 0;
    }
}