<div class="container">
  <div class="text-center mt-4">
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Debitis mollitia quisquam incidunt, quam laborum iste cupiditate velit,
      iusto ducimus, error sint repudiandae facilis. Nisi voluptatibus minus
      repellat beatae maiores ullam?</p><br>
    <h3>To see the full list click here</h3>
    <button mat-raised-button color="primary" (click)="checkUserStatus()">Primary</button>
  </div>

  <button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
    snack-bar
  </button>
  <button mat-stroked-button (click)="openSnackBar1()" aria-label="Show an example snack-bar">
    snack-bar
  </button>
  <button mat-stroked-button (click)="openSnackBar2()" aria-label="Show an example snack-bar">
    snack-bar
  </button>
  <button mat-stroked-button (click)="openSnackBar3()" aria-label="Show an example snack-bar">
    snack-bar
  </button>


  <!-- <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nobis, assumenda cum sequi repellat ab tenetur non
    temporibus voluptatibus odit? Voluptatem doloribus doloremque minima obcaecati odit commodi laborum error, assumenda
    excepturi mollitia praesentium pariatur, quam sed culpa iure. Facere aperiam maiores ipsa ab, quaerat doloribus quo
    vitae sapiente commodi, soluta, debitis incidunt cumque recusandae obcaecati eos a! Delectus assumenda quas repellat
    fuga dolor id labore qui. Minus odit nemo modi magni voluptate impedit eos iste veniam praesentium sapiente, iusto
    accusamus debitis ea cupiditate aliquam reiciendis, nulla, libero eaque excepturi amet maxime. Commodi
    exercitationem quo at voluptate aspernatur quia fugiat repellendus consequatur sequi modi culpa voluptas adipisci
    rem, sed minima eveniet sunt totam. Voluptatum iusto cupiditate, reprehenderit magnam dolorem, delectus enim facere
    accusamus, officia incidunt nobis est expedita eos. Ullam dicta aliquid maiores nemo iure qui sapiente deserunt
    itaque sed, quam, soluta voluptas assumenda fuga odit ut aspernatur dolorum. Quos aut nobis eaque, deserunt quam
    dolor, quibusdam pariatur nemo provident, dicta consequuntur laudantium. Reiciendis, mollitia doloremque? Nemo,
    molestias nam.inventore? Tenetur rem quasi doloremque cumque, modi nemo voluptates.
  </div> -->

</div>